// -----------------------------------------------------------------------------
// This file contains styles that are specific to the ports page.
// -----------------------------------------------------------------------------

// Ports
.ports {
  padding-bottom: 200px;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    padding-bottom: 120px;
  }

  @media (max-width: 991.98px) {
    padding-bottom: 35px;
  }

  h2 {
    margin-bottom: 10px;
  }

  .container {
    display: flex;

    @media (min-width: 1300px) {
      max-width: $container-large;
    }

    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }

  // Sidebar
  .sidebar {
    flex: 0 0 30%;
    position: relative;

    @media (max-width: 991.98px) {
      flex: 0;
    }

    .sidebar-toggler {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 10;
      padding: 17px 0;

      .value {
        margin-left: auto;
        margin-right: 25px;
        padding-left: 15px;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 200%;
        height: 1px;
        background-color: $gray-light;
        z-index: -1;
        transform: translateX(-50%);
      }

      &::before {
        @media (max-width: 991.98px) {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          height: 100%;
          width: 150%;
          transform: translateX(-50%);
          background-color: white;
          z-index: -1;
        }
      }
    }

    .collapse {
      @media (min-width: 992px) {
        display: block !important;
      }
    }

    .collapsing {
      transition: height .5s ease;

      @media (min-width: 992px) {
        transition: none !important;
        height: unset !important;
      }
    }

    .nav-tabs {
      position: relative;
      border: none;

      .nav-item {
        margin: 0;
        cursor: pointer;
      }

      .nav-item.show .nav-link,
      .nav-link.active {
        font-weight: 700;
        color: black;
        letter-spacing: 0;
        border-bottom: 5px solid $ubuntu-orange;
      }

      .nav-link {
        border-radius: 0;
        border: none;
        border-bottom: 5px solid transparent;
        padding: 15px 25px 10px 25px;
        font-size: 18px;
        letter-spacing: 0.035em;

        @media (max-width: 1199.98px) {
          font-size: 16px;
          padding: 15px 15px 10px 15px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 1px;
        width: 5000px;
        background-color: $gray-light;
        z-index: -1;
        transform: translateX(-25%);

        @media (max-width: 991.98px) {
          display: none;
        }
      }
    }

    .input {
      margin-bottom: 20px;

      @media (max-width: 991.98px) {
        margin-bottom: 10px;
        padding: 10px 20px;
      }
    }

    .built-with {
      margin-right: 30px;
    }

    .tab-content {
      margin-bottom: 60px;
      position: relative;

      @media (max-width: 991.98px) {
        margin: 0;
        background-color: $off-white;
        padding: 15px 0;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 200%;
          height: 100%;
          background-color: $off-white;
          z-index: -1;
          transform: translateX(-50%);
        }
      }

      .h3 {
        margin-top: 20px;
      }

      .container-fluid {
        padding-right: 35px;

        @media (max-width: 991.98px) {
          padding-right: 15px;
        }
      }

      li {
        padding: 0 !important;
        padding-top: 7px !important;
        line-height: 2;
        border: none;
        border-radius: 0;
        font-size: 15px;

        &.active {
          color: $ubuntu-purple-dark;
          font-weight: 700;
          border-left: 5px solid $ubuntu-purple-dark;
        }

        @media (max-width: 991.98px) {
          font-size: 14px;
        }
      }

      hr {
        margin-bottom: 0;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 60px;
      right: 0;
      width: 1px;
      height: 150%;
      background-color: $gray-light;
      z-index: -1;

      @media (max-width: 991.98px) {
        height: 100%;
        width: 150%;
        right: 50%;
        transform: translateX(50%);
        display: none;
      }
    }

    @media (min-width: 992px) {
      .device-name {
        transition: .2s ease;
        opacity: 0.9;

        &:first-child {
          margin-top: 10px;
        }

        &:hover {
          margin-left: 15px;
          opacity: 1;
          border-left:2px solid #8C3683;
        }
      }
    }

    // Sidebar devices
    .device-tag- {
      &promoted {
        background: linear-gradient(to right, #8C3683, #C0474C);
      }

      &new {
        background: linear-gradient(to right, #b30920, #eb9648);
      }

      &old {
        background: linear-gradient(to right, #0f0f0f, #7c7c7c);
      }
    }
  }

  // Content
  .content {
    min-width: 0;
    flex: 0 0 70%;
    padding-left: 50px;
    padding-top: 70px;

    .devices-homepage {
      p {
        margin-bottom: 15px;
      }
    }

    @media (max-width: 991.98px) {
      padding-left: 0;
      padding-top: 25px;
      flex: 0;
    }
  }

  .heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;

    .title {
      padding-right: 45px;

      @media (max-width: 991.98px) {
        width: 100%;
        padding-right: 0;
      }

      div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        @media (max-width: 991.98px) {
          justify-content: space-between;
        }
      }
    }

    h1 {
      margin-bottom: 5px;
      width: auto;
    }

    a {
      text-decoration: underline;
    }
  }

  .progress {
    margin-bottom: 20px;

    .external-label {
      padding: 10px 0 0 10px;
      color: black;
      text-align: left;
    }
  }

  .steps {
    margin-bottom: 20px;
    line-height: 2;
  }

  .feature-map {
    margin-bottom: 25px;

    .features {
      font-family: 'ubuntu-mono';
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
      line-height: 1.6;
      column-count: 3;
      column-gap: 2em;

      @media (max-width: 991.98px) {
        column-count: 2;
      }

      @media (max-width: 575.98px) {
        column-count: 1;
        padding-left: 20px;
      }

      &>div:not(:last-child) {
        padding-right: 25px;
      }

      ul {
        margin-bottom: 15px;

        li a {
          text-decoration: underline
        }
      }
    }

    .feature-icon img {
      display: inline;
      max-height: 1em;
    }

    .feature-legend {
      font-family: 'ubuntu-mono';
      text-align: center;
      margin-top: 10px;

      &-element {
        padding: 0 10px 0 10px;
      }
    }

  }

  .specifications {
    margin-bottom: 25px;

    .table {
      font-family: 'ubuntu-mono';
      width: auto;
      margin-bottom: 0;
      color: black;

      @media (max-width: 991.98px) {
        width: 100%;
      }
    }

    .table-striped tbody tr:nth-of-type(odd) {
      background-color: #ededed;
    }

    .table-striped tbody tr:nth-of-type(even) {
      background-color: #ededed85;
    }

    .table td,
    .table th {
      padding: 1px 80px 1px 15px;
      border-top: 5px solid white;
      white-space: nowrap;

      @media (max-width: 991.98px) {
        padding: 1px 15px;
      }
    }
  }

  .bugs {
    margin-bottom: 25px;
  }

  .solutions {
    margin-bottom: 50px;
  }

  .ports-banner {
    position: relative;
    padding: 25px 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -50px;
      height: 100%;
      width: 200%;
      background-color: #f3f3f3;
      z-index: -1;

      @media (max-width: 991.98px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .donate-banner {
    align-items: center;
    margin-bottom: 10px;
    top: -12px;

    .donate-icon {
      max-height: 5em;
    }

    .close-icon {
      max-height: 2.5em;
      margin-left: auto;
      cursor: pointer;
    }

    div {
      padding: 0 30px;
    }

    p {
      font-size: 16px;
    }

    @media (max-width: 767.98px) {
      text-align: center;

      .donate-icon {
        margin-bottom: 20px;
        display: inline;
      }

      .close-icon {
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }

    @media (max-width: 991.98px) {
      top: -25px;
    }
  }

  .markdown-content {
    h1, h2, h3, h4, h5, h6 {
      padding-top: 10px;
    }

    li {
      list-style: square inside;
      padding-left: 20px;
    }

    pre {
      display: flex;
      margin-top: 7px;
      border-left: 7px solid $ubuntu-purple;
      background-color: #111;
      color: white;
      padding: 10px 15px;
    }

    a {
      color: $purple;

      &:hover,
      &:focus,
      &:active {
        color: $ubuntu-purple;
      }
    }

    table {
      width: auto;
      font-family: 'ubuntu-mono';
      margin-bottom: 0;
      color: black;

      @media (max-width: 991.98px) {
        width: 100%;
      }

      tbody {
        tr:nth-of-type(2n+1) {
          background-color: #ededed;
        }

        tr:nth-of-type(2n) {
          background-color: #ededed85;
        }
      }

      td, th {
        padding: 1px 80px 1px 15px;
        border-top: 5px solid white;
        white-space: nowrap;

        @media (max-width: 991.98px) {
          padding: 1px 15px;
        }
      }
    }
  }

  .installer {
    margin-bottom: 10px;
    margin-top: 40px;

    h2 {
      margin-bottom: 25px;
    }

    .btns {
      margin-bottom: 30px;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 50px;
      row-gap: 20px;

      @media (max-width: 1299.98px) {
        column-gap: 10px;
      }

      @media (max-width: 1199.98px) {
        grid-template-columns: 1fr;
        row-gap: 15px;
      }
    }

    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .no-installer {
    margin-top: 40px;
    margin-bottom: 60px;

    @media (max-width: 991.98px) {
      margin-bottom: 30px;
    }
  }

  .contributors-discussions {
    display: grid;
    grid-template-columns: 6fr 4fr;
    column-gap: 30px;

    .h3 {
      margin-bottom: 25px;
    }

    @media (max-width: 991.98px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .contributors {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 8px;
      row-gap: 15px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #f3f3f3;
    }

    img {
      width: 50px;
    }

    p {
      margin-left: 20px;

      @media (max-width: 1199.98px) {
        margin-left: 10px;
      }

      @media (max-width: 575.98px) {
        font-size: 12px;
      }
    }
  }

  .discussions {
    ul {
      padding-left: 15px;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    img {
      margin-right: 12px;
    }

    @media (max-width: 991.98px) {
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }

  .built-with {
    background-color: #f3f3f3;
    border-radius: 20px;
    position: relative;
    padding: 40px;
    overflow: hidden;

    h3 {
      margin-bottom: 10px;
    }

    @media (max-width: 991.98px) {
      margin-top: 35px;
    }
  }

  .choose-device {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }

  #listOfDevices {
    overflow-y: auto;
    height: calc(100vh - 290px);
    scrollbar-color: #d6d6d6 transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d6d6d6;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    .active--exact {
      font-weight: 700;
    }


    @media (max-width: 991.98px) {
      height: calc(100vh - 240px);
    }
  }

  .installer-video {
    position:relative;
    top:0;
    left:-50px;
    margin-top: 30px;
    padding: 60px 0px 60px 60px;
    color: white;

    a {
      text-decoration: underline;
    }

    .helpflash-container {
      position: absolute;
      overflow: hidden;
      width: 140%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;

      .helpflash {
        position: absolute;
        top: -100px;
        right: 0;
        height: 200%;

        @media (max-width: 512px) {
          display: none;
        }
      }

      @media (max-width: 1199.98px) {
        left: 70px;
      }

      @media (max-width: 991.98px) {
        left: 0;
      }

      @media (max-width: 767.98px) {
        left: 130px;
      }
    }

    &::after {
      content:'';
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:200%;
      background: linear-gradient(268.44deg, #E95420 -13.61%, #8B3583 83.98%);
      z-index:-2;

      @media (max-width: 991.98px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }

}
