<template>
  <!-- Installer -->
  <div class="ports-banner installer">
    <h2 class="h3">How to install</h2>
    <p>
      You can install Ubuntu Touch on this device using the UBports Installer on
      your computer. Select the appropriate package for your computer:
    </p>
    <div class="btns">
      <!-- Ubuntu -->
      <button
        class="btn btn-download"
        @click="window.location.href = '/installer/deb'"
      >
        <g-image
          class="system-icon"
          src="~/assets/img/installer/ubuntu.svg"
          alt="ubuntu-img"
        />
        <div>
          <p class="bold">Ubuntu</p>
          <p>deb (64)</p>
        </div>
        <g-image
          class="download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </button>
      <!-- Mac -->
      <button
        class="btn btn-download"
        @click="window.location.href = '/installer/dmg'"
      >
        <g-image
          class="system-icon"
          src="~/assets/img/installer/mac.svg"
          alt="mac-img"
        />
        <div>
          <p class="bold">Mac</p>
          <p>dmg</p>
        </div>
        <g-image
          class="download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </button>
      <!-- Windows -->
      <button
        class="btn btn-download"
        @click="window.location.href = '/installer/exe'"
      >
        <g-image
          class="system-icon"
          src="~/assets/img/installer/win.svg"
          alt="win-img"
        />
        <div>
          <p class="bold">Windows</p>
        </div>
        <g-image
          class="download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </button>
      <!-- Linux Snap -->
      <button
        class="btn btn-download"
        @click="window.location.href = '/installer/snap'"
      >
        <g-image
          class="system-icon"
          src="~/assets/img/installer/linux.svg"
          alt="linux-img"
        />
        <div>
          <p class="bold">Linux</p>
          <p>snap</p>
        </div>
        <g-image
          class="download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </button>
      <!-- Linux AppImage -->
      <button
        class="btn btn-download"
        @click="window.location.href = '/installer/appimage'"
      >
        <g-image
          class="system-icon"
          src="~/assets/img/installer/appimage.svg"
          alt="appimage-img"
        />
        <div>
          <p class="bold">AppImage</p>
        </div>
        <g-image
          class="download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </button>
    </div>
    <p>
      Plug in your device and follow the on-screen instructions. The Installer
      will take it from there.
    </p>
  </div>
</template>

<script>
export default {
  name: "Installer"
};
</script>
