<template>
  <!-- Built With -->
  <div class="built-with" :class="portClass">
    <h3 class="h3">Bring Ubuntu Touch to your device!</h3>
    <p>
      {{ $static.allDevice.totalCount }} devices run Ubuntu Touch. Do you wish
      that yours becomes one of them?
      <a
        class="link"
        href="https://docs.ubports.com/porting/"
        target="_blank"
        rel="noreferrer noopener"
        >Learn how to bring Ubuntu Touch to your device.</a
      >
    </p>
  </div>
</template>

<static-query>
query {
  allDevice {
    totalCount
  }
}
</static-query>

<script>
export default {
  name: "NewPort",
  props: {
    mobile: {
      type: Boolean,
      default: false
    }
  },
  data: function() {
    return {
      portClass: {
        "d-none": !this.mobile,
        "d-lg-block": !this.mobile,
        "d-lg-none": this.mobile
      }
    };
  }
};
</script>
