<template>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Mobile Toggler -->
    <a v-b-toggle.sidebarCollapse class="sidebar-toggler h3 d-lg-none">
      Choose Device
      <span class="value"> {{ filteredResults.length }} </span>
      <g-image
        src="~/assets/img/symbols/angle-icon-gradient.svg"
        alt="angle-icon"
        class="angle-icon-gradient"
      />
    </a>
    <!-- Collapse -->
    <b-collapse id="sidebarCollapse">
      <!-- Tabs -->
      <ul id="tab" class="nav nav-tabs d-none d-lg-flex" role="tablist">
        <!-- All -->
        <li class="nav-item">
          <a
            class="nav-link"
            :class="{ active: currentFilter == 'all' }"
            @click="currentFilter = 'all'"
          >
            All
          </a>
        </li>
        <!-- Phones -->
        <li class="nav-item">
          <a
            class="nav-link"
            :class="{ active: currentFilter == 'phone' }"
            @click="currentFilter = 'phone'"
          >
            Phones
          </a>
        </li>
        <!-- Tablets -->
        <li class="nav-item">
          <a
            class="nav-link"
            :class="{ active: currentFilter == 'tablet' }"
            @click="currentFilter = 'tablet'"
          >
            Tablets
          </a>
        </li>
      </ul>
      <!-- Tab Content -->
      <div id="tabContent" class="tab-content">
        <!-- Search -->
        <input
          v-model="searchTerm"
          class="input"
          type="text"
          placeholder="Search device"
        />
        <!-- All -->
        <div
          id="all"
          class="tab-pane fade show active"
          aria-labelledby="all-tab"
        >
          <h3 class="h4 d-none d-lg-block">
            {{ filteredResults.length }} devices
          </h3>
          <hr class="d-none d-lg-block" />
          <ul id="listOfDevices">
            <!-- Item -->
            <li
              v-for="device in filteredResults"
              :key="device.codename"
              class="device-name"
            >
              <g-link
                v-b-toggle.sidebarCollapse
                :to="device.path"
                :title="device.name + ' - Progress: ' + device.progress + '%'"
              >
                <b-container fluid>
                  <b-row align-h="between" no-gutters>
                    <b-col cols="8">
                      {{ device.name }}
                    </b-col>
                    <b-col cols="4" class="text-center">
                      <b-badge
                        pill
                        :class="'float-right device-tag-' + device.tag"
                        >{{ device.tag | capitalize }}</b-badge
                      >
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <div class="progress progress-sidebar">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          :style="{ width: device.progress + '%' }"
                          :aria-valuenow="device.progress"
                          aria-valuemin="0"
                          aria-valuemax="1"
                        ></div>
                      </div>
                    </b-col>
                  </b-row>
                </b-container>
              </g-link>
            </li>
          </ul>
        </div>
      </div>
      <!-- Built With -->
      <NewPort :mobile="false" />
    </b-collapse>
  </div>
</template>

<static-query>
query {
  allDevice {
    totalCount
    edges {
      node {
        deviceType
        codename
        path
        name
        progress
        tag
      }
    }
  }
}
</static-query>

<script>
import NewPort from "~/components/devices/NewPort.vue";

import {
  BCollapse,
  VBToggle,
  BContainer,
  BRow,
  BCol,
  BBadge
} from "bootstrap-vue";

import axios from "axios";

export default {
  name: "Sidebar",
  components: {
    BCollapse,
    BContainer,
    BRow,
    BCol,
    BBadge,
    NewPort
  },
  directives: {
    "b-toggle": VBToggle
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  },
  props: {
    deviceName: {
      type: String,
      default: ""
    }
  },
  data: function() {
    return {
      currentFilter: "all",
      searchTerm: ""
    };
  },
  computed: {
    searchResults() {
      if (this.searchTerm.length < 3) return this.$static.allDevice.edges;
      return this.$search.search({
        query: this.searchTerm,
        limit: 10
      });
    },
    filteredResults() {
      var filter = this.currentFilter;
      return this.searchResults
        .map(n => n.node)
        .sort((a, b) => {
          return b.progress - a.progress;
        })
        .filter(a => {
          return filter == "all" || a.deviceType == filter;
        });
    }
  },
  async mounted() {
    const searchIndex = await axios.get("/flexsearch.json");
    this.$search.import(searchIndex.data, { serialize: false });
  }
};
</script>
